<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="bootstrap" version="3.3.7" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net45" />
  <package id="Grpc" version="1.0.1" targetFramework="net45" />
  <package id="Grpc.Core" version="1.2.2" targetFramework="net45" />
  <package id="jQuery" version="3.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="MCS.Library" version="1.3.4" targetFramework="net45" />
  <package id="MCS.Library.ADHelper" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Library.Compression" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Library.Data" version="1.3.0.0" targetFramework="net45" />
  <package id="MCS.Library.Office" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Library.Office.OpenXml.Excel" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Library.OGUPermission" version="1.3.0.0" targetFramework="net45" />
  <package id="MCS.Library.Passport" version="1.3.0.0" targetFramework="net45" />
  <package id="MCS.Library.SOA.DataObjects" version="1.11.2" targetFramework="net45" />
  <package id="MCS.Library.SOA.DataObjects.Schemas.Client" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Library.SOA.DataObjects.Security.AUClient" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Library.WcfExtensions" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Web.Library" version="1.2.0.0" targetFramework="net45" />
  <package id="MCS.Web.Library.Script.Json" version="1.0.0.0" targetFramework="net45" />
  <package id="MCS.Web.Responsive.Library" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization.zh-Hans" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client.zh-Hans" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core.zh-Hans" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost.zh-Hans" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NPOI" version="2.2.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net45" />
  <package id="QRCoder" version="1.3.2" targetFramework="net45" />
  <package id="Seagull2.Core" version="2.1.0" targetFramework="net45" />
  <package id="Seagull2.Owin" version="2.7.1" targetFramework="net45" />
  <package id="Seagull2.Permission" version="2.1.1" targetFramework="net45" />
  <package id="Seagull2.Redis" version="2.0.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.1" targetFramework="net45" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net45" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net45" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net45" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net45" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net45" />
  <package id="ThoughtWorks.QRCode" version="1.1.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
  <package id="WebApiContrib.Formatting.Jsonp" version="3.0.2" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>